.wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.waves {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
}

.flippedVertical {
  transform: rotateX(180deg);
}

.parallax > use {
  animation: move-forever 30s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 10s;
}

.parallax > use:nth-child(2) {
  animation-delay: 0s;
  animation-duration: 15s;
}

.parallax > use:nth-child(3) {
  animation-delay: -6s;
  animation-duration: 20s;
}

.parallax > use:nth-child(4) {
  animation-delay: -8s;
  animation-duration: 25s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
